##Â Tests with NULL

In [22]:
import decimal
import datetime
import decimal
import drda

In [23]:
host = 'localhost'
database = 'null;create=true'
port = 1527

connection = drda.connect(
            host=host,
            database=database,
            port=port,)
cur = connection.cursor()

In [24]:
cur = connection.cursor()
cur.execute("""
                CREATE TABLE test_basic (
                    s VARCHAR(20),
                    i int,
                    d1 decimal(2, 1),
                    d2 decimal(11, 2)   )
            """)

In [25]:
cur.execute("""
            INSERT INTO test_basic (s, i, d1, d2) VALUES
                ('abcdefghijklmnopq', 1, 1.1, 123456789.12),
                ('B', 2, 1.2, 2),
                ('C', 3, null, null)
        """)

In [26]:
cur.execute("SELECT * FROM test_basic")
for r in cur.fetchall():
    print(r)

('abcdefghijklmnopq', 1, Decimal('1.1'), Decimal('123456789.12'))
('B', 2, Decimal('1.2'), Decimal('2.00'))
('C', 3, None, None)

In [27]:
cur.execute("""
                CREATE TABLE test_datetime (
                    d date,
                    t time,
                    dt timestamp
                )
            """)

In [28]:
cur.execute("""
            INSERT INTO test_datetime (d, t, dt) VALUES
                ('2019-04-30', '12:34:56', '2019-04-30 12:34:56.123456789')
        """)

In [29]:
cur.execute("SELECT * FROM test_datetime")
for r in cur.fetchall():
    print(r[0])

2019-04-30

In [30]:
cur = connection.cursor()
cur.execute("""
                CREATE TABLE test_double (
                    bi bigint,
                    si smallint,
                    r real,
                    d double
                )
            """)

In [31]:
cur.execute("DELETE FROM test_double")

In [32]:
cur.execute("""
            INSERT INTO test_double (bi, si, r, d) VALUES
                (-1, -1, -1, -1)
        """)

In [33]:
cur.execute("SELECT * FROM test_double")
for r in cur.fetchall():
    print(r[0])

-1

In [34]:
cur.close()

In [35]:
connection.close()