##Â Non Null and pyDRDA Updates

In [7]:
%%sh
pip uninstall pydrda --yes
pip install git+https://github.com/raphgauthier/pydrda.git

Uninstalling pydrda-0.4.1:
  Successfully uninstalled pydrda-0.4.1
Collecting git+https://github.com/raphgauthier/pydrda.git
  Cloning https://github.com/raphgauthier/pydrda.git to /tmp/pip-req-build-obx16nqy
Requirement already satisfied: pyDes in /opt/conda/lib/python3.7/site-packages (from pydrda==0.4.1) (2.0.1)
Building wheels for collected packages: pydrda
  Building wheel for pydrda (setup.py): started
  Building wheel for pydrda (setup.py): finished with status 'done'
  Stored in directory: /tmp/pip-ephem-wheel-cache-s40_z1wn/wheels/01/1d/4d/ff24c4d2e1c444211f6f68a1c722e8579ea800e72ef0844ab7
Successfully built pydrda
Installing collected packages: pydrda
Successfully installed pydrda-0.4.1

  Running command git clone -q https://github.com/raphgauthier/pydrda.git /tmp/pip-req-build-obx16nqy

In [13]:
import io
import decimal
import datetime
import decimal
import drda

In [14]:
host = 'localhost'
database = 'upd;create=true'
port = 1527

connection = drda.connect(
            host=host,
            database=database,
            port=port,)
cur = connection.cursor()

#### DRDA_TYPE_VARCHAR = 0x32

In [3]:
cur = connection.cursor()
cur.execute("""CREATE TABLE test_varchar (s VARCHAR(20)NOT NULL)""")
cur.execute("""
            INSERT INTO test_varchar (s) VALUES
                ('abcdefghijklmnopq'),
                ('B'),
                ('C')
        """)
cur.execute("SELECT * FROM test_varchar")
for r in cur.fetchall():
    print(r)

t: 50
ps: b'\x00\x14'
b: b'\x00\x11abcdefghijklmnopq\xff\x00\x00\x01B\xff\x00\x00\x01C\x00\x00\x00\x00d02000CSS10120\x00\x00\x00\x00\x00\x00\x00\x00\x03\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00           \x00\x00\x00\x00\x00\x00\xff\xff'
t: 50
ps: b'\x00\x14'
b: b'\x00\x01B\xff\x00\x00\x01C\x00\x00\x00\x00d02000CSS10120\x00\x00\x00\x00\x00\x00\x00\x00\x03\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00           \x00\x00\x00\x00\x00\x00\xff\xff'
t: 50
ps: b'\x00\x14'
b: b'\x00\x01C\x00\x00\x00\x00d02000CSS10120\x00\x00\x00\x00\x00\x00\x00\x00\x03\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00           \x00\x00\x00\x00\x00\x00\xff\xff'
('abcdefghijklmnopq',)
('B',)
('C',)

In [4]:
cur.execute("""CREATE TABLE test_int (d int NOT NULL)""")
cur.execute("""INSERT INTO test_int (d) VALUES (2019) """)
cur.execute("SELECT * FROM test_int")
for r in cur.fetchall():
    print(r[0])

t: 2
ps: b'\x00\x04'
b: b'\x00\x00\x07\xe3\x00\x00\x00\x00d02000CSS10120\x00\x00\x00\x00\x00\x00\x00\x00\x01\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00           \x00\x00\x00\x00\x00\x00\xff\xff'
2019

In [ ]:
cur.execute("""CREATE TABLE test_datetime (d date NOT NULL)""")
cur.execute("""INSERT INTO test_datetime (d) VALUES ('2019-04-30') """)
cur.execute("SELECT * FROM test_datetime")
for r in cur.fetchall():
    print(r[0])

In [ ]:
cur.execute("""CREATE TABLE test_time (t time NOT NULL)""")
cur.execute("""INSERT INTO test_time (t) VALUES ('12:34:56') """)
cur.execute("SELECT * FROM test_time")
for r in cur.fetchall():
    print(r[0])

In [ ]:
cur.execute("""CREATE TABLE test_timestamp (dt timestamp NOT NULL)""")
cur.execute("""INSERT INTO test_timestamp (dt) VALUES ('2019-04-30 12:34:56.123456789') """)
cur.execute("SELECT * FROM test_timestamp")
for r in cur.fetchall():
    print(r[0])

#### DRDA_TYPE_INTEGER8 = 0x16

In [ ]:
cur.execute("""CREATE TABLE test_bigint (bi bigint NOT NULL)""")
cur.execute("""INSERT INTO test_bigint (bi) VALUES (-1) """)
cur.execute("SELECT * FROM test_bigint")
for r in cur.fetchall():
    print(r[0])

In [ ]:
cur.execute("""CREATE TABLE test_smallint (si smallint NOT NULL)""")
cur.execute("""INSERT INTO test_smallint (si) VALUES (-1) """)
cur.execute("SELECT * FROM test_smallint")
for r in cur.fetchall():
    print(r[0])

#### DRDA_TYPE_FLOAT8 = 0x0A

In [ ]:
cur.execute("""CREATE TABLE test_float8 (d double NOT NULL)""")
cur.execute("""INSERT INTO test_float8 (d) VALUES (-1) """)
cur.execute("SELECT * FROM test_float8")
for r in cur.fetchall():
    print(r[0])

#### DRDA_TYPE_LONG = 0x34

In [ ]:
cur.execute("""CREATE TABLE test_longvarchar (l LONG VARCHAR NOT NULL)""")
cur.execute("""INSERT INTO test_longvarchar (l) VALUES ('azerty') """)
cur.execute("SELECT * FROM test_longvarchar")
for r in cur.fetchall():
    print(r[0])

#### DRDA_TYPE_NBOOLEAN = 0xBF

In [15]:
cur.execute("""CREATE TABLE test_bool (s VARCHAR(20), b boolean)""")
cur.execute("""
            INSERT INTO test_bool (s, b) VALUES
                ('azerty',TRUE),
                ('B', FALSE),
                ('C', TRUE),
                ('D', FALSE),
                ('E', TRUE)""")
cur.execute("SELECT * FROM test_bool")
for r in cur.fetchall():
    print(r[1])

t: 51
ps: b'\x00\x14'
b: b'\x00\x00\x06azerty\x00\x01\xff\x00\x00\x00\x01B\x00\x00\xff\x00\x00\x00\x01C\x00\x01\xff\x00\x00\x00\x01D\x00\x00\xff\x00\x00\x00\x01E\x00\x01\x00\x00\x00\x00d02000CSS10120\x00\x00\x00\x00\x00\x00\x00\x00\x05\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00           \x00\x00\x00\x00\x00\x00\xff\xff'
t: 191
ps: b'\x00\x01'
b: b'\x00\x01\xff\x00\x00\x00\x01B\x00\x00\xff\x00\x00\x00\x01C\x00\x01\xff\x00\x00\x00\x01D\x00\x00\xff\x00\x00\x00\x01E\x00\x01\x00\x00\x00\x00d02000CSS10120\x00\x00\x00\x00\x00\x00\x00\x00\x05\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00           \x00\x00\x00\x00\x00\x00\xff\xff'
t: 51
ps: b'\x00\x14'
b: b'\x00\x00\x01B\x00\x00\xff\x00\x00\x00\x01C\x00\x01\xff\x00\x00\x00\x01D\x00\x00\xff\x00\x00\x00\x01E\x00\x01\x00\x00\x00\x00d02000CSS10120\x00\x00\x00\x00\x00\x00\x00\x00\x05\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00           \x00\x00\x00\x00\x00\x00\xff\xff'
t: 191
ps: b'\x00\x01'
b: b'\x00\x00\xff\x00\x00\x00\x01C\x00\x01\xff\x00\x00\x00\x01D\x00\x00\xff\x00\x00\x00\x01E\x00\x01\x00\x00\x00\x00d02000CSS10120\x00\x00\x00\x00\x00\x00\x00\x00\x05\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00           \x00\x00\x00\x00\x00\x00\xff\xff'
t: 51
ps: b'\x00\x14'
b: b'\x00\x00\x01C\x00\x01\xff\x00\x00\x00\x01D\x00\x00\xff\x00\x00\x00\x01E\x00\x01\x00\x00\x00\x00d02000CSS10120\x00\x00\x00\x00\x00\x00\x00\x00\x05\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00           \x00\x00\x00\x00\x00\x00\xff\xff'
t: 191
ps: b'\x00\x01'
b: b'\x00\x01\xff\x00\x00\x00\x01D\x00\x00\xff\x00\x00\x00\x01E\x00\x01\x00\x00\x00\x00d02000CSS10120\x00\x00\x00\x00\x00\x00\x00\x00\x05\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00           \x00\x00\x00\x00\x00\x00\xff\xff'
t: 51
ps: b'\x00\x14'
b: b'\x00\x00\x01D\x00\x00\xff\x00\x00\x00\x01E\x00\x01\x00\x00\x00\x00d02000CSS10120\x00\x00\x00\x00\x00\x00\x00\x00\x05\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00           \x00\x00\x00\x00\x00\x00\xff\xff'
t: 191
ps: b'\x00\x01'
b: b'\x00\x00\xff\x00\x00\x00\x01E\x00\x01\x00\x00\x00\x00d02000CSS10120\x00\x00\x00\x00\x00\x00\x00\x00\x05\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00           \x00\x00\x00\x00\x00\x00\xff\xff'
t: 51
ps: b'\x00\x14'
b: b'\x00\x00\x01E\x00\x01\x00\x00\x00\x00d02000CSS10120\x00\x00\x00\x00\x00\x00\x00\x00\x05\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00           \x00\x00\x00\x00\x00\x00\xff\xff'
t: 191
ps: b'\x00\x01'
b: b'\x00\x01\x00\x00\x00\x00d02000CSS10120\x00\x00\x00\x00\x00\x00\x00\x00\x05\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00           \x00\x00\x00\x00\x00\x00\xff\xff'
1
0
1
0
1

#### DRDA_TYPE_BOOLEAN = 0xBE

In [6]:
cur.execute("""CREATE TABLE test_boolnn (s VARCHAR(20), b boolean NOT NULL)""")
cur.execute("""
            INSERT INTO test_boolnn (s, b) VALUES
                ('azerty',TRUE),
                ('B', FALSE),
                ('C', TRUE),
                ('D', FALSE),
                ('E', TRUE)""")
cur.execute("SELECT * FROM test_boolnn")
for r in cur.fetchall():
    print(r[1])

t: 51
ps: b'\x00\x14'
b: b'\x00\x00\x06azerty\x01\xff\x00\x00\x00\x01B\x00\xff\x00\x00\x00\x01C\x01\xff\x00\x00\x00\x01D\x00\xff\x00\x00\x00\x01E\x01\x00\x00\x00\x00d02000CSS10120\x00\x00\x00\x00\x00\x00\x00\x00\x05\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00           \x00\x00\x00\x00\x00\x00\xff\xff'
t: 190
ps: b'\x00\x01'
b: b'\x01\xff\x00\x00\x00\x01B\x00\xff\x00\x00\x00\x01C\x01\xff\x00\x00\x00\x01D\x00\xff\x00\x00\x00\x01E\x01\x00\x00\x00\x00d02000CSS10120\x00\x00\x00\x00\x00\x00\x00\x00\x05\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00           \x00\x00\x00\x00\x00\x00\xff\xff'
t: 51
ps: b'\x00\x14'
b: b'\x00\x00\x01B\x00\xff\x00\x00\x00\x01C\x01\xff\x00\x00\x00\x01D\x00\xff\x00\x00\x00\x01E\x01\x00\x00\x00\x00d02000CSS10120\x00\x00\x00\x00\x00\x00\x00\x00\x05\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00           \x00\x00\x00\x00\x00\x00\xff\xff'
t: 190
ps: b'\x00\x01'
b: b'\x00\xff\x00\x00\x00\x01C\x01\xff\x00\x00\x00\x01D\x00\xff\x00\x00\x00\x01E\x01\x00\x00\x00\x00d02000CSS10120\x00\x00\x00\x00\x00\x00\x00\x00\x05\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00           \x00\x00\x00\x00\x00\x00\xff\xff'
t: 51
ps: b'\x00\x14'
b: b'\x00\x00\x01C\x01\xff\x00\x00\x00\x01D\x00\xff\x00\x00\x00\x01E\x01\x00\x00\x00\x00d02000CSS10120\x00\x00\x00\x00\x00\x00\x00\x00\x05\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00           \x00\x00\x00\x00\x00\x00\xff\xff'
t: 190
ps: b'\x00\x01'
b: b'\x01\xff\x00\x00\x00\x01D\x00\xff\x00\x00\x00\x01E\x01\x00\x00\x00\x00d02000CSS10120\x00\x00\x00\x00\x00\x00\x00\x00\x05\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00           \x00\x00\x00\x00\x00\x00\xff\xff'
t: 51
ps: b'\x00\x14'
b: b'\x00\x00\x01D\x00\xff\x00\x00\x00\x01E\x01\x00\x00\x00\x00d02000CSS10120\x00\x00\x00\x00\x00\x00\x00\x00\x05\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00           \x00\x00\x00\x00\x00\x00\xff\xff'
t: 190
ps: b'\x00\x01'
b: b'\x00\xff\x00\x00\x00\x01E\x01\x00\x00\x00\x00d02000CSS10120\x00\x00\x00\x00\x00\x00\x00\x00\x05\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00           \x00\x00\x00\x00\x00\x00\xff\xff'
t: 51
ps: b'\x00\x14'
b: b'\x00\x00\x01E\x01\x00\x00\x00\x00d02000CSS10120\x00\x00\x00\x00\x00\x00\x00\x00\x05\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00           \x00\x00\x00\x00\x00\x00\xff\xff'
t: 190
ps: b'\x00\x01'
b: b'\x01\x00\x00\x00\x00d02000CSS10120\x00\x00\x00\x00\x00\x00\x00\x00\x05\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00           \x00\x00\x00\x00\x00\x00\xff\xff'
1
0
1
0
1

In [ ]:
cur.close()

In [ ]:
connection.close()